* {
    margin-top: .5rem;
    font-family: 'Press Start 2P';
    color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 1;
    background-color: #222;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: .75rem;
}

#playersBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#playerX {
    margin-right: 1rem;
}

#playerOneColors {
    color: #222;
    margin-right: 3rem;
    margin-top: 0;
}

#playerTwoColors {
    color: #222;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

table {
    cursor: pointer;
}

td {
    border: 1px solid;
    width: 100px;
    height: 100px;
}